DATABASE_URL="mysql://database_user:database_password@database_host:3306/database_name"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
APPLE_ID=""
APPLE_SECRET=""
RESEND_API_KEY=""
RESEND_FROM="Alshamy Alaswad <bookings@example.com>"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_WHATSAPP_NUMBER="971500000000"
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
