# dependencies
node_modules/

# build output
.next/
out/
dist/
build/

# production
*.tsbuildinfo

# env files
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# test artifacts
coverage/
test-results/
playwright-report/

# system/editor
.DS_Store
.idea/
.vscode/
